# Игнорируем файл конфигурации окружения
.env

# Другие игнорируемые файлы и каталоги
__pycache__/
*.db
.idea/
*.iml

# Игнорируем кэш ruff
ruff_cache/

# Игнорируем файлы с расширением .log
*.log
*.json
